{
  "name": "Bootstrapi",
  "version": "0.0.1",
  "description": "Bootstrapi docs",
  "title": "Bootstrapi docs",
  "url" : "http://bootstrapi.dev/api",
  "sampleUrl": "http://bootstrapi.dev/api",
  "template": {
    "withCompare": false,
    "withGenerator": false
  },
  "header": {
    "title": "Начало",
    "filename": "header.md"
  },
  "order": [
    "Token",
    "User",
    "GetUsers",
    "GetUser",
    "CreateUser",
    "UpdateUser",
    "DeleteUser",
    "RequestPasswordReset",
    "ResetPassword",
    "Role",
    "GetRoles",
    "GetRole",
    "CreateRole",
    "UpdateRole",
    "DeleteRole",
    "Right",
    "GetRights",
    "GetRight",
    "CreateRight",
    "UpdateRight",
    "DeleteRight",
    "Log",
    "GetLogs",
    "GetLog"
  ]
}