<?php

return [
    'params' => [
        'host' => 'http://hostname.domain',
        'api'  => 'http://hostname.domain/api',
        'env'  => 'dev',
    ],

    'accessToken' => [
        'ttl'        => 3600,
        'iss'        => null,
        'secretKey'  => 'secret key',
        'allowHosts' => [
            'hostname.domain',
            'docs.hostname.domain',
        ],
    ],

    'refreshToken' => [
        'ttl' => 3600 * 24 * 7,
    ],
];
